<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-one-uploader" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OneUploader</name>
    <js-module name="OneUploader" src="www/OneUploader.js">
        <clobbers target="cordova.plugins.OneUploader" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OneUploader">
                <param name="ios-package" value="OneUploader"/>
            </feature>
        </config-file>

        <header-file src="src/ios/AppDelegate+uploader.h" />
        <source-file src="src/ios/AppDelegate+uploader.m" />

        <header-file src="src/ios/OneUploader.h" />
        <source-file src="src/ios/OneUploader.m" />

        <header-file src="src/ios/TranscodeOperation.h" />
        <source-file src="src/ios/TranscodeOperation.m" />

        <header-file src="src/ios/UploadOperation.h" />
        <source-file src="src/ios/UploadOperation.m" />

    </platform>
</plugin>