<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-video-uploader" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-video-uploader</name>
    <js-module name="VideoUploader" src="www/VideoUploader.js">
        <clobbers target="cordova.plugins.VideoUploader" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="VideoUploader">
                <param name="android-package" value="com.busivid.cordova.videouploader.VideoUploader"/>
            </feature>
        </config-file>

        <dependency id="cordova-plugin-file-transfer" url="https://github.com/Busivid/cordova-plugin-file-transfer" />

        <source-file src="src/android/CustomAndroidFormatStrategy.java" target-dir="src/com/busivid/cordova/videouploader" />
        <source-file src="src/android/FileTransferCallbackContext.java" target-dir="src/com/busivid/cordova/videouploader" />
        <source-file src="src/android/IEventListener.java" target-dir="src/com/busivid/cordova/videouploader" />
        <source-file src="src/android/ILongEventListener.java" target-dir="src/com/busivid/cordova/videouploader" />
        <source-file src="src/android/IStringEventListener.java" target-dir="src/com/busivid/cordova/videouploader" />
        <source-file src="src/android/TranscodeOperation.java" target-dir="src/com/busivid/cordova/videouploader" />
        <source-file src="src/android/TranscodeOperationCallback.java" target-dir="src/com/busivid/cordova/videouploader" />
        <source-file src="src/android/UploadCompleteBlock.java" target-dir="src/com/busivid/cordova/videouploader" />
        <source-file src="src/android/UploadErrorBlock.java" target-dir="src/com/busivid/cordova/videouploader" />
        <source-file src="src/android/UploadOperation.java" target-dir="src/com/busivid/cordova/videouploader" />
        <source-file src="src/android/UploadOperationCallback.java" target-dir="src/com/busivid/cordova/videouploader" />
        <source-file src="src/android/Utils.java" target-dir="src/com/busivid/cordova/videouploader" />
        <source-file src="src/android/VideoUploader.java" target-dir="src/com/busivid/cordova/videouploader" />

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="VideoUploader">
                <param name="ios-package" value="BVVideoUploader"/>
            </feature>
        </config-file>

        <dependency id="cordova-plugin-file-transfer" url="https://github.com/Busivid/cordova-plugin-file-transfer" />

        <header-file src="src/ios/AppDelegate_VideoUploader.h" />
        <source-file src="src/ios/AppDelegate_VideoUploader.m" />

        <header-file src="src/ios/BVTranscodeOperation.h" />
        <source-file src="src/ios/BVTranscodeOperation.m" />

        <header-file src="src/ios/BVUploadOperation.h" />
        <source-file src="src/ios/BVUploadOperation.m" />

        <header-file src="src/ios/BVUploadOperationCommandDelegate.h" />
        <source-file src="src/ios/BVUploadOperationCommandDelegate.m" />

        <header-file src="src/ios/BVVideoUploader.h" />
        <source-file src="src/ios/BVVideoUploader.m" />
    </platform>
</plugin>
